# Question 

- Create a DataFrame `df` from the dictionary `data` which has the index `labels`. Both data and labels are in the next cell. 
- Display a summary of the basic information and statistics about this DataFrame and its data. **hint, check the pandas function describe**.
- Display the first 3 rows of the DataFrame df.
- Display just the 'animal' and 'age' columns from the DataFrame df.
- What are the animals and ages for the rows of 3,4 and 7
- What is the average age for animals that has number of visits greater than 3.
- How many cats with age less than 3
- Change the age in row 'f' to 1.5
- Calculate the sum of all visits (the total number of visits).
- Count the number of each type of animal in df. **hint, check the pandas function value_counts**.
- Sort df first by the values in the 'age' in descending order, then by the value in the 'visit' column in ascending order. **hint, check the pandas function sort_values**.
- The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be True and 'no' should be False.

In [131]:
import numpy as np 
import pandas as pd 
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, 4, 5, 2, 4.5, 2, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

In [132]:
df = pd.DataFrame(data, index = labels)

In [133]:
df.describe()

             age     visits
count  10.000000  10.000000
mean    3.350000   1.900000
std     1.841648   0.875595
min     0.500000   1.000000
25%     2.125000   1.000000
50%     3.000000   2.000000
75%     4.375000   2.750000
max     7.000000   3.000000

In [134]:
df.head(3)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no

In [135]:
df[['animal','age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  4.0
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  2.0
i    dog  7.0
j    dog  3.0

In [136]:
#What are the animals and ages for the rows of 3,4 and 7
#look above for answers

In [137]:
#What is the average age for animals that has number of visits greater than 3.
vst_gtr_3 = df[df['visits'] > 3] #nothing is greater than 3 
np.mean(vst_gtr_3['age']), vst_gtr_3

(nan, Empty DataFrame
 Columns: [animal, age, visits, priority]
 Index: [])

In [138]:
#How many cats with age less than 3
less_3 = df[df['age'] < 3]
less_3

  animal  age  visits priority
a    cat  2.5       1      yes
c  snake  0.5       2       no
f    cat  2.0       3       no
h    cat  2.0       1      yes

In [139]:
less_3.groupby('animal').size()

animal
cat      3
snake    1
dtype: int64

In [140]:
#Change the age in row 'f' to 1.5
df.at['f','age']=1.5
df.head(6)

  animal  age  visits priority
a    cat  2.5       1      yes
b    cat  3.0       3      yes
c  snake  0.5       2       no
d    dog  4.0       3      yes
e    dog  5.0       2       no
f    cat  1.5       3       no

In [141]:
#Calculate the sum of all visits (the total number of visits).
df['visits'].sum()

19

In [142]:
#Count the number of each type of animal in df. hint, check the pandas function value_counts.
df.groupby('animal').size()

animal
cat      4
dog      4
snake    2
dtype: int64

In [143]:
#value count
df['animal'].value_counts()

cat      4
dog      4
snake    2
Name: animal, dtype: int64

In [144]:
#Sort df first by the values in the 'age' in descending order, then by the 
#value in the 'visit' column in ascending order. hint,
#check the pandas function sort_values.
df.sort_values(['age','visits'], ascending = [False,True])

  animal  age  visits priority
i    dog  7.0       2       no
e    dog  5.0       2       no
g  snake  4.5       1       no
d    dog  4.0       3      yes
j    dog  3.0       1       no
b    cat  3.0       3      yes
a    cat  2.5       1      yes
h    cat  2.0       1      yes
f    cat  1.5       3       no
c  snake  0.5       2       no

In [145]:
#The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' 
#should be True and 'no' should be False.
df['check']= np.where(df.priority == 'yes', True , False)#edit this code to fit question,I used a new column

In [146]:
df

  animal  age  visits priority  check
a    cat  2.5       1      yes   True
b    cat  3.0       3      yes   True
c  snake  0.5       2       no  False
d    dog  4.0       3      yes   True
e    dog  5.0       2       no  False
f    cat  1.5       3       no  False
g  snake  4.5       1       no  False
h    cat  2.0       1      yes   True
i    dog  7.0       2       no  False
j    dog  3.0       1       no  False