# Question

NAMES = ['Alice', 'Bob', 'Cathy', 'Dan', 'Ed', 'Frank','Gary', 'Helen', 'Irene', 'Jack', 'Kelly', 'Larry']

- Use numpy random seed of 1234
- For the list of Names given above, randomly generate another list of ages with the same length as Names using Numpy. Ages should be between 17 and 25
- How old is Dan?
- Create a dictionary that has two keys 'Names' and 'ages'. The value in the key names is the list of names and the value in ages should be the list of random ages you generated
- Using the dictionary, form a pandas data frame
- Find out how many people older than 21
- What is the average age for all the people in the list
- How many names has five charachters 
- Generate a column called state. The elements of the column state should be Ohio whenever the number of charachters in a person's name is 3 or less and California whenever it is four and Oregon for five or more 
- Add the new array state as a new column in the data frame
- is there any duplicates in the data?
- How many of the given names live in California and what is the average age for them?
- plot a histogram for the ages

In [ ]:
# this is unrelated to the class .. It just helps displaying all outputs in a cell instead of just last one
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

In [1]:
# solve here
import numpy as np 
import pandas as pd 
import random

In [10]:
import random
### generating random numbers between ages 17 and 25 as ages

Ages = np.random.randint(17,25,12)
Ages

array([20, 23, 23, 20, 24, 18, 21, 24, 24, 18, 23, 19])

In [6]:
NAMES = ['Alice', 'Bob', 'Cathy', 'Dan', 'Ed', 'Frank','Gary', 'Helen', 'Irene', 'Jack', 'Kelly', 'Larry']

In [11]:
##### Creating a dictionary with names and randomly generated numbers



my_dict= {'NAMES':NAMES,'Ages':Ages}

In [12]:
my_dict

{'NAMES': ['Alice',
  'Bob',
  'Cathy',
  'Dan',
  'Ed',
  'Frank',
  'Gary',
  'Helen',
  'Irene',
  'Jack',
  'Kelly',
  'Larry'],
 'Ages': array([20, 23, 23, 20, 24, 18, 21, 24, 24, 18, 23, 19])}

In [15]:
### Find the age of Dan from the list

my_dict['Ages'][4]

24

In [17]:
my_dict2 = pd.DataFrame(my_dict)

In [18]:
my_dict2

    NAMES  Ages
0   Alice    20
1     Bob    23
2   Cathy    23
3     Dan    20
4      Ed    24
5   Frank    18
6    Gary    21
7   Helen    24
8   Irene    24
9    Jack    18
10  Kelly    23
11  Larry    19

In [20]:
### Ages older than 21

above_21 = my_dict2[my_dict2['Ages'] > 21]
above_21

    NAMES  Ages
1     Bob    23
2   Cathy    23
4      Ed    24
7   Helen    24
8   Irene    24
10  Kelly    23

In [21]:
## % people are older than 21

In [22]:
#### Mean ages = 21.42

np.mean(Ages)

21.416666666666668

In [25]:
count_name = my_dict2 [my_dict2['NAMES']== 5]
len(count_name)

0

In [28]:
my_dict2.NAMES.str.len()

0     5
1     3
2     5
3     3
4     2
5     5
6     4
7     5
8     5
9     4
10    5
11    5
Name: NAMES, dtype: int64

In [30]:
names_5 =my_dict2.NAMES.str.len()

In [61]:
np.where(names_5 == 5)

(array([ 0,  2,  5,  7,  8, 10, 11], dtype=int64),)

In [ ]:
### seven names have 5 characters

In [66]:
len(np.where(names_5 == 5)[0])

7