This project is for the class of OPS802. The target of the project is to have a hands on full data analytics experience from A to Z. That means starting with raw data and reading it into python then doing some analytical and statstical observations on the data and finally doing some supervised and unsupervised learning on the data. The data we will use for this project is one of the most famous datasets in the machine learning world which is called IRIS classification dataset. That means there is plenty of resources for you online to learn from and that you are not the first person who saw and analyzed this data. Use this to your advantage. The Iris flower data set or Fisher's Iris data set is a multivariate data set introduced by the British statistician and biologist Ronald Fisher in his 1936 paper "The use of multiple measurements in taxonomic problems" as an example of linear discriminant analysis. We will describe it more in details later. The project measures the capabilities of lodaing data, cleaning it up, running some tests and statistical analysis and finally machine learning. The following highlights the project
-  The project consists of four parts, they are mostly independent and in order based on what we studies in class
-  The deadline of the project is the last day of the quarter
-  The project is individual, however I encourage you to talk to each other to check your different approaches without copying codes or talking about detailed code specific. For example, it is ok to ask about which function you have used to tackle part a and is it better than this other function or not. It is not ok to copy the exact code including that function you asked about.
- You are expected to heavily utilize resources outside the class notebooks such as Google, StackOverflow, .. etc
- Code cleanings and Display has 10% of the grade

# Part1: Data Loading and Cleaning up
The iris flower dataset consists of 150 collected observations for different flower's charachteristics. The dataset contains four attributes. These four attributes help decide which Iris class does the flower belong to. The four attributes are sepal length, sepal width, petal length, and petal width; all in cm. The data set contains 3 classes Iris Setosa, Iris Versicolour, and Iris Virginica. For more info about the dataset, you can chek [this link](https://en.wikipedia.org/wiki/Iris_flower_data_set). The end target of the project will be to build a model that can predict, based on the four attributes, which class does the flower belong to.

In the first part of the project we will start by loading the data and cleaning up any problems within the data.

- load the Iris dataset using the file iris.data. You can open it with any text editor to find out how it looks like. Decide which separator you would like to use and if any rows needs to be skipped
<br>
Now let's do some exploring
- How many rows and colums are in the file
- How many nulls in the file
- Which rows contains nans and how many nans in each of these rows
- How many nans per columns?
- The 35th sample should be: 4.9,3.1,1.5,0.2,"Iris-setosa" based on the original paper. Is that what you have? If not, fix it
- The 39th sample: 4.9,3.6,1.4,0.1,"Iris-setosa",  where the errors are in the second and third features. Fix it

In [140]:
# Solve Here
import pandas as pd
data = pd.read_csv('iris_not_clean.data', sep = '|', header = None ) 
data.columns =['sepal_length', 'sepal_width', 'petal_length', 'petal width','class']
data.info(),data.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 5 columns):
sepal_length    153 non-null object
sepal_width     152 non-null float64
petal_length    151 non-null float64
petal width     151 non-null float64
class           151 non-null object
dtypes: float64(3), object(2)
memory usage: 6.1+ KB

(None,        sepal_width  petal_length  petal width
 count   152.000000    151.000000   151.000000
 mean      3.057237      3.747020     1.192053
 std       0.431784      1.764608     0.764942
 min       2.000000      1.000000     0.100000
 25%       2.800000      1.600000     0.300000
 50%       3.000000      4.300000     1.300000
 75%       3.300000      5.100000     1.800000
 max       4.400000      6.900000     2.500000)

In [141]:
data['sepal_length'] = pd.to_numeric(data['sepal_length'],errors='coerce')#turn sepal length data type to float
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 155 entries, 0 to 154
Data columns (total 5 columns):
sepal_length    151 non-null float64
sepal_width     152 non-null float64
petal_length    151 non-null float64
petal width     151 non-null float64
class           151 non-null object
dtypes: float64(4), object(1)
memory usage: 6.1+ KB

In [142]:
data.describe()

       sepal_length  sepal_width  petal_length  petal width
count    151.000000   152.000000    151.000000   151.000000
mean       5.833775     3.057237      3.747020     1.192053
std        0.833618     0.431784      1.764608     0.764942
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.300000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [143]:
#Which rows contains nans and how many nans in each of these rows
rows_with_nulls = data[pd.isnull(data).any(axis=1)]
rows_with_nulls

    sepal_length  sepal_width  petal_length  petal width        class
1            NaN          NaN           NaN          NaN          NaN
29           5.2          3.4           NaN          0.2  Iris-setosa
30           NaN          NaN           NaN          NaN          NaN
34           NaN          NaN           NaN          NaN          NaN
46           NaN          3.2           2.1          NaN          NaN

In [144]:
rows_with_nulls.isnull().sum(axis=1)#how many nulls in each of these rows

1     5
29    1
30    5
34    5
46    3
dtype: int64

In [145]:
#counting number of nulls, the above code also does provide a solution but lets do this too
nan_df = data.isna() #you can head the dataset to see what it looks like

nan_df.apply(pd.Series.value_counts)

       sepal_length  sepal_width  petal_length  petal width  class
False           151          152           151          151    151
True              4            3             4            4      4

In [146]:
data.shape

(155, 5)

In [147]:
df =data.dropna()#dopping nulls, 5 were dropped 
df.shape

(150, 5)

In [148]:
df.describe(), df.info() ,df.head()#no more nulls

<class 'pandas.core.frame.DataFrame'>
Int64Index: 150 entries, 0 to 154
Data columns (total 5 columns):
sepal_length    150 non-null float64
sepal_width     150 non-null float64
petal_length    150 non-null float64
petal width     150 non-null float64
class           150 non-null object
dtypes: float64(4), object(1)
memory usage: 7.0+ KB

(       sepal_length  sepal_width  petal_length  petal width
 count    150.000000   150.000000    150.000000   150.000000
 mean       5.838000     3.054000      3.758000     1.198667
 std        0.834786     0.433594      1.765336     0.763161
 min        4.300000     2.000000      1.000000     0.100000
 25%        5.100000     2.800000      1.600000     0.300000
 50%        5.800000     3.000000      4.350000     1.300000
 75%        6.400000     3.300000      5.100000     1.800000
 max        7.900000     4.400000      6.900000     2.500000,
 None,
    sepal_length  sepal_width  petal_length  petal width        class
 0           5.1          3.5           1.4          0.2  Iris-setosa
 2           4.9          3.0           1.4          0.2  Iris-setosa
 3           4.7          3.2           1.3          0.2  Iris-setosa
 4           4.6          3.1           1.5          0.2  Iris-setosa
 5           5.0          3.6           1.4          0.2  Iris-setosa)

In [149]:
#The 35th sample should be: 4.9,3.1,1.5,0.2,"Iris-setosa" based on the original paper. 
#Is that what you have? If not, fix it
df.iloc[34]

sepal_length              5
sepal_width             3.2
petal_length            1.2
petal width             0.2
class           Iris-setosa
Name: 38, dtype: object

In [150]:
df.loc[34,:] = [4.9, 3.1,1.5,0.2,"Iris-setosa"]
df.iloc[34]

/Users/claire_kim/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

sepal_length              5
sepal_width             3.2
petal_length            1.2
petal width             0.2
class           Iris-setosa
Name: 38, dtype: object

In [151]:
df.iloc[39]

sepal_length              5
sepal_width             3.5
petal_length            1.3
petal width             0.3
class           Iris-setosa
Name: 43, dtype: object

In [152]:
#The 39th sample: 4.9,3.6,1.4,0.1,"Iris-setosa", where the errors are in the second and third features. Fix it
df.iloc[39]=[4.9,3.6,1.4,0.1,"Iris-setosa"]
df.iloc[39]

sepal_length            4.9
sepal_width             3.6
petal_length            1.4
petal width             0.1
class           Iris-setosa
Name: 43, dtype: object

# Part 2: Stastical Exploring
In this part we will understand a little more about the data and do some cool plottings
- What is the mean and variance for each column and use the function describe to get insights about the data
- Drop the nan rows
- Recaluclate the mean and variance for each column
- What is the correlation between the fourth column and each of the other three columns individually? Any observations
- How many records exist for each class. # Hint, you can do this in one line by using groupby
- Change the random seed to 1234 and randomly pick 20 samples of the data and display it
- Plot histogram for all the data attributes
- Plot histogram for all the data attributes per feature, i.e. grouped by features

In [153]:
# Solve Here
# Mean and variance
data.mean()

sepal_length    5.833775
sepal_width     3.057237
petal_length    3.747020
petal width     1.192053
dtype: float64

In [154]:
data.var() #variance for each column

sepal_length    0.694918
sepal_width     0.186437
petal_length    3.113841
petal width     0.585136
dtype: float64

In [155]:
# Drop the nan rows
data = data.dropna()
data.shape

(150, 5)

In [156]:
# Recaluclate the mean and variance for each column
data.mean(), data.var()

(sepal_length    5.838000
 sepal_width     3.054000
 petal_length    3.758000
 petal width     1.198667
 dtype: float64, sepal_length    0.696868
 sepal_width     0.188004
 petal_length    3.116412
 petal width     0.582414
 dtype: float64)

In [162]:
# What is the correlation between the fourth column and each of the other three 
# columns individually? Any observations
data.corr(method='pearson')

              sepal_length  sepal_width  petal_length  petal width
sepal_length      1.000000    -0.113621      0.873536     0.819785
sepal_width      -0.113621     1.000000     -0.420601    -0.356544
petal_length      0.873536    -0.420601      1.000000     0.962755
petal width       0.819785    -0.356544      0.962755     1.000000

In [166]:
# How many records exist for each class. # Hint, you can do this in one line by using groupby
data.columns, data.groupby('class').size()

(Index(['sepal_length', 'sepal_width', 'petal_length', 'petal width', 'class'], dtype='object'),
 class
 Iris-setosa        50
 Iris-versicolor    50
 Iris-virginica     50
 dtype: int64)

In [165]:
# Change the random seed to 1234 and randomly pick 20 samples of the data and display it

class
Iris-setosa        50
Iris-versicolor    50
Iris-virginica     50
dtype: int64

In [167]:
# Plot histogram for all the data attributes

# Part 3: Statistical Analysis 
In this part, you will explore some curve fitting and dimensionality reductions attributes

- Use Scipy pdf fitting to do a curve fitting for the petal-length
- Plot the normalized histogrm of the petal-length and the estimated pdf on the same figure
- Generate new 500 samples using the estimated pdf for the petal-length 
- Calculate the mean of the new samples and compare how close it is to the mean of the given data

In [157]:
# Solve Here

### PCA
- Use Scikit to do PCA on the IRIS dataset
- do a bar plot that shows the importance of info in each of the new dimensions
- use PCA to reduce the number of attributes by 1. Note that for all the next parts, you will use the reduced data

In [158]:
# Solve Here

# Part 4: Machine Learning
In this part, you will explore the use of supervised and non supervised learning

### Non-Supervised Learning 
- using Kmeans, divide the data into different clusters. The number of clusters should be the same as the number of categories you have in the data
- Do scatter plot for each two combination of the three dimensions together (0 vs 1), (0 vs 2), (1 vs 2). Use the kmeans labels to color the points in the scatter plots

In [159]:
# Solve Here

### Supervised-Learning
- Divide your dataset to 80% training and 20% validation
- Build a Logistci regression model for the reduced IRIS dataset
- What is the training accuracy
- What is the validation accuracy
- Form the confusion matrix

In [160]:
# Solve Here